outputs/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.eggs/
*.whl
*.dist-info/
*.DS_Store
*.coverage
*.pytest_cache/
*.mypy_cache/
*.ipynb_checkpoints/
*.vscode/
*.idea/
*.vscode-test/
*.vscode-remote/
*.vscode-server/
